//* The basics of icons */
.icon, .bev-icon, .time-icon {
  display: inline-block;
  font: normal normal normal 14px BevIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//* Mixin */
@mixin icon($icon-var) {
  &:before {
    content: $icon-var;
  }
}

//* Beverages icons */
.bev-icon {
  @each $bev-variant, $icon-map in $bev-variants {
    &.#{$bev-variant} {
      @include icon(map-get($icon-map, icon));
      color: map-get($icon-map, color);
    }
  }
}

//* Moment of day */
.time-icon {
  @each $time, $name in $time-icons {
    &.#{$time} {
      @include icon($name);
    }
  }
}

//* Other icons */
//* Info/error */
.icon-info {
  @include icon($icon-info-outline);
}

.icon-error {
  @include icon($icon-error);
}

//* Misc. */
.icon-note {
  @include icon($icon-commenting);
}

.icon-temp {
  @include icon($icon-fire);
}

.icon-time {
  @include icon($icon-hourglass);
}

.icon-detail {
  @include icon($icon-zoom-in);
}

.detailed {
  .icon-detail:before {
    content: $icon-zoom-out;
  }
}

.icon-random {
  @include icon($icon-dice);
}

.icon-pick {
  @include icon($icon-pick);
}

.icon-cart {
  @include icon($icon-cart);
}

//* Loading */
.icon-loading {
  @include icon($icon-circle-o-notch);
}
