// Inspired from https://chrisbracco.com/a-simple-css-tooltip/

//
// Pure-CSS tooltip stylesheet
//
[data-tooltip] {
  position: relative;
  cursor: pointer;

  //* Base styles for the entire tooltip */
  &:before, &:after {
    position: absolute;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    text-align: center;
  }

  //* Show the entire tooltip on hover and focus */
  &:hover, &:focus {
    &:before, &:after {
      visibility: visible;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
    }
  }

  //* Base styles for the tooltip's directional arrow */
  &:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
  }

  //* Base styles for the tooltip's content area */
  &:after {
    //box-sizing: content-box;
    z-index: 1000;
    padding: 8px;
    width: $tooltip-width;
    background-color: $tooltip-color; // IE8 fallback
    background-color: transparentize($tooltip-color, 1 - $tooltip-opacity);
    color: $base-white;
    content: attr(data-tooltip);
    font-size: $tooltip-font-size;
    line-height: $tooltip-line-height;
  }

  //* Bottom tooltips only */
  &:before, &:after {
    top: 100%;
    left: 50%;
  }

  &:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: $tooltip-color; // IE8 fallback
    border-bottom-color: transparentize($tooltip-color, 1 - $tooltip-opacity);
  }

  &:focus, &:hover {
    &:before, &:after {
      transform: translateY(12px);
    }
  }

  // Horizontally align top/bottom tooltips
  &:after {
    margin-left: -($tooltip-width / 2);
  }
}
