// Inspired from https://chrisbracco.com/a-simple-css-tooltip/

//* Base styles for the element that has a tooltip */
//[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;

  //* Base styles for the entire tooltip */
  &:before, &:after {
    position: absolute;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
  }

  //* Show the entire tooltip on hover and focus */
  &:hover, &:focus {
    &:before, &:after {
      visibility: visible;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
    }
  }

  //* Base styles for the tooltip's directional arrow */
  &:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
  }

  //* Base styles for the tooltip's content area */
  &:after {
    z-index: 1000;
    padding: 8px;
    width: 160px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
  }

  //* Bottom tooltips only */
  &:before, &:after {
    top: 100%;
    bottom: auto;
    left: 50%;
  }

  &:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: hsla(0, 0%, 20%, 0.9);
  }

  &:focus, &:hover {
    &:before, &:after {
      transform: translateY(12px);
    }
  }

  // Horizontally align top/bottom tooltips
  &:after {
    margin-left: -80px;
  }
}
