# Logs
logs
*.log
*-debug.log*
*-error.log*

# Compiled results
/dist/
/reports/
/gh-pages/
/.sonar
/src/font/BevIcons.*

# Node-related
/node_modules/
/node/
.node_repl_history

# Optional npm cache directory
.npm

# IntelliJ
.idea
*.iml

# Cloud9
/.c9/
