@import "../../scss/functions";
@import "../../scss/variables";
@import "../../scss/mixins";

.orders-backdrop, .orders-summary {
  position: absolute;
  top: 0;

  height: 100%;
}

.orders-backdrop {
  left: 0;
  width: 100%;

  display: none;

  z-index: $orders-z-index;
  background-color: $orders-backdrop-color;

  &.visible {
    display: block;
  }
}

.orders-summary {
  right: -$orders-width;
  width: $orders-width;

  @media (max-width: 992px) {
    right: -$orders-width-mobile;
    width: $orders-width-mobile;
  }

  overflow-y: auto;

  transition: right 0.3s ease-in-out;

  z-index: $orders-z-index + 1;
  border-left: 1px solid $orders-border-color;
  background: $orders-bg-color;

  &.visible {
    right: 0;
  }

  .close {
    @include clearfix();
    & > span {
      float: right;
      margin: 5px 10px 0 0;

      font-size: larger;
      font-weight: bolder;
      color: $orders-border-color;
    }
  }

  // Orders are an unordered list
  ul {
    list-style: none;
    padding: 0;

    li {
      @include clearfix();

      padding: $order-padding;

      &:not(:last-child) {
        border-bottom: 1px solid $orders-border-color;
      }

      .quantity {
        font-weight: bolder;
        @each $bev-variant, $icon-map in $bev-variants {
          &.#{$bev-variant} {
            color: map-get($icon-map, color);
          }
        }
      }
      .prep-info {
        width: 50%;
        float: left;
      }
    }
  }
}
