<div class="beverages-container">
    <div rv-class-up="error | toBoolean | not" class="bubble error slide" role="alert">
        <i class="icon icon-error"></i> {error}
    </div>
    <div rv-class-up="ready | or error" class="bubble info slide">
        <i class="icon icon-loading spin"></i> {i18n.loading}
    </div>
    <div class="orders-backdrop click-toggle-orders" rv-class-visible="orders._visible"></div>
    <div class="orders-summary" rv-class-visible="orders._visible">
        <div class="close">
            <span class="click-toggle-orders">&times;</span>
        </div>
        <ul>
            <li rv-if="orders:total | eq 0">{i18n.orders.none}</li>
            <li rv-each-o="orders:orders">
                <span class="quantity" rv-addclass="o:beverage:basis">{o:quantity}</span>
                {o:beverage:name}
                <small rv-if="o:beverage:brand">({o:beverage:brand})</small>
                <br/>
                <span class="prep-info" rv-class-invisible="o:beverage:preparation.time | showMinMax | not">
                    <i class="icon icon-time"></i>
                    <span rv-html="o:beverage:preparation.time | minMax ' - '"></span><span
                        rv-html="i18n.units.minutes"></span>
                </span>
                <span class="prep-info" rv-class-invisible="o:beverage:preparation.temp | showMinMax | not">
                    <i class="icon icon-temp"></i>
                    <span rv-text="o:beverage:preparation.temp | minMax ' - '"></span><span
                        rv-html="temperatureUnit | map i18n.units"></span>
                </span>
            </li>
            <li rv-unless="orders:total | eq 0" class="click-clear-orders">
                <strong>&times;</strong> {i18n.orders.clear}
            </li>
        </ul>
    </div>
    <div rv-class-up="ready | not | or error" class="slide">
        <div class="header">
            <div class="cart-controls">
                <small>{beverages._shown}/{beverages.models | length}</small>
                <button class="click-random-order"
                        rv-data-tooltip="i18n.orders.random"
                        rv-disabled="beverages._shown | eq 0">
                    <i class="icon icon-random"></i>
                </button>
                <button class="click-toggle-orders" aria-haspopup="true" aria-expanded="false">
                    <i class="icon icon-cart"></i>
                    <span>{orders:total}</span>
                </button>
            </div>
            <div class="filters">
                <div class="btn-group">
                    <div rv-each-basis="filters:bases" class="toggle"
                         rv-data-tooltip="basis:key | map i18n.basis">
                        <input type="checkbox" rv-id="'filter-basis-' | append basis:key" rv-checked="basis:active"/>
                        <label rv-for="'filter-basis-' | append basis:key">
                            <i class="bev-icon" rv-addclass="basis:key"></i>
                        </label>
                    </div>
                </div>
                <div class="btn-group">
                    <div rv-each-moment="filters:moments" class="toggle"
                         rv-data-tooltip="moment:key | map i18n.moment">
                        <input type="checkbox" rv-id="'filter-moment-' | append moment:key" rv-checked="moment:active"/>
                        <label rv-for="'filter-moment-' | append moment:key">
                            <i class="moment-icon" rv-addclass="moment:key"></i>
                        </label>
                    </div>
                </div>
                <input type="text" id="field-text-search" rv-placeholder="i18n.free-text-filter"
                       rv-value="filters:text"/>
            </div>
        </div>
        <div class="slide bubble info" role="alert" rv-class-up="beverages._shown | eq 0 | not">
            <i class="icon icon-info"></i> {i18n.error.empty}
        </div>
        <div class="beverage slide" rv-class-up="b._show | not" rv-addclass="b:basis" rv-class-detailed="b._detailed"
             rv-each-b="beverages.models" rv-data-id="b:id">
            <div class="row">
                <div class="col-xs-12 col-md-10">
                    <div class="row">
                        <div class="headers">
                            <div class="bev-icon-container" rv-class-packaged="b:packaged" rv-addclass="b:basis">
                                <i class="bev-icon" rv-addclass="b:basis"></i>
                            </div>
                            <div class="name">{b:name}</div>
                            <div class="brand">{b:brand}</div>
                        </div>
                        <div class="more">
                            <i class="icon icon-note note-tip" rv-if="b:note"></i>
                            {b:benefits | join ', ' | startWithCap}
                        </div>
                        <div class="strength">
                            <div class="moment">
                                <ul>
                                    <li rv-class-invisible="b:time.morning | defined | not | or b:time.morning | not"
                                        rv-class-text-muted="b:time.morning | not"
                                        rv-data-tooltip="b:time.morning | defined | if i18n.moment.morning i18n.moment.unknown">
                                        <i class="moment-icon morning"></i>
                                    </li>
                                    <li rv-class-invisible="b:time.daytime | defined | not | or b:time.daytime | not"
                                        rv-class-text-muted="b:time.daytime | not"
                                        rv-data-tooltip="b:time.daytime | defined | if i18n.moment.daytime i18n.moment.unknown">
                                        <i class="moment-icon daytime"></i>
                                    </li>
                                    <li rv-class-invisible="b:time.evening | defined | not | or b:time.evening | not"
                                        rv-class-text-muted="b:time.evening | not"
                                        rv-data-tooltip="b:time.evening | defined | if i18n.moment.evening i18n.moment.unknown">
                                        <i class="moment-icon evening"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="theine-level"
                                 rv-data-tooltip="b:theine | map i18n.theine">
                                <div class="icon-bars" rv-addclass="b:theine">
                                    <div class="bar bar-1"></div>
                                    <div class="bar bar-2"></div>
                                    <div class="bar bar-3"></div>
                                    <div class="bar bar-4"></div>
                                </div>
                            </div>
                        </div>
                        <div class="preparation">
                            <div class="prep-info" rv-class-invisible="b:preparation.temp | showMinMax | not">
                                <i class="icon icon-temp"></i>
                                <span rv-text="b:preparation.temp | minMax ' - '"></span><span
                                    rv-html="temperatureUnit | map i18n.units"></span>
                            </div>
                            <div class="prep-info" rv-class-invisible="b:preparation.time | showMinMax | not">
                                <i class="icon icon-time"></i>
                                <span rv-html="b:preparation.time | minMax ' - '"></span><span
                                    rv-html="i18n.units.minutes"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="ingredients">{b:ingredients | join ', ' | startWithCap}</p>
                            <p class="note" rv-if="b:note">
                                <i class="icon icon-note"></i> {b:note}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2 actions">
                    <div class="btn-group" role="group">
                        <button class="click-toggle-detail " rv-data-tooltip="i18n.beverage.expand">
                            <i class="icon icon-detail"></i>
                        </button>
                        <button class="click-order" rv-data-tooltip="i18n.beverage.order">
                            <i class="icon icon-pick"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
