<table class="table table-hover">
    <tbody>
    <tr rv-each-t="teas.models">
        <td>
            <div class="row">
                <div class="col-xs-11">
                    <span rv-class="t:basis | teaIcon">
                        <i class="tea-icon-back"></i>
                        <i class="tea-icon-leaf"></i>
                    </span>
                    <h3>{t:name}</h3>
                    <h4>
                        <small class="text-muted" rv-text="t:brand"></small>
                    </h4>
                </div>
                <div class="col-xs-1">
                    <ul class="list-inline">
                        <li class="list-inline-item" rv-class-text-muted="t:time | contains 'morning' | not"><i class="icon-morning"></i></li>
                        <li class="list-inline-item" rv-class-text-muted="t:time | contains 'afternoon' | not"><i class="icon-afternoon"></i></li>
                        <li class="list-inline-item" rv-class-text-muted="t:time | contains 'evening' | not"><i class="icon-evening"></i></li>
                    </ul>
                    {t:preparation.temperature | minMax | unit '&deg;C'}<br/>
                    {t:preparation.time | minMax | unit '&nbsp;min'}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        <small rv-text="t:ingredients | join ', '" class="text-muted"></small>
                    </p>
                    <p rv-text="t:note"></p>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
