<table class="table table-hover">
    <tbody>
    <tr rv-each-t="teas.models">
        <td>
            <span rv-class="t:basis | teaIcon">
                <i class="tea-icon-back"></i>
                <i class="tea-icon-leaf"></i>
            </span>
        </td>
        <td>
            <h3>{t:name}</h3>
            <h4><small class="text-muted">({t:brand})</small></h4>
        </td>
        <td>
            <small rv-text="t:ingredients | join ', '" class="text-muted"></small>
        </td>
        <td>{t:note}</td>
    </tr>
    </tbody>
</table>
