.header {
  @include clearfix();

  & > * {
    padding: $header-padding;
  }

  .filters {
    float: left !important;

    // FIXME is this the only way to get a correct v-align for the input?
    & > .btn-group {
      float: left !important;
    }
  }

  .cart-controls {
    float: right !important;

    .cart {
      span.min-max {
        display: inline-block;
        text-align: center;
        width: 100px;
        float: right;
      }
    }
  }
}
