$icomoon-font-path: "../fonts" !default;

$icon-leaf: "\f06c";
$icon-fire: "\f06d";
$icon-square: "\f0c8";
$icon-coffee: "\f0f4";
$icon-sun-o: "\f185";
$icon-moon-o: "\f186";
$icon-pagelines: "\f18c";
$icon-hourglass: "\f254";
$icon-commenting: "\f27a";

