.flex {
  display: flex;
  &.vertical {
    flex-direction: column;
  }
}

.fl-0 {
  flex: 0 1 auto;
  // Add min-width to allow shrinking below intrinsic size
  min-width: 0;
}

@each $i in 1, 3 {
  .fl-#{$i} {
    flex: $i 0 0;
  }
}
