$iconfont-path: "../font/";

$icon-circle-o-notch: "\E001";
$icon-commenting: "\E002";
$icon-error: "\E003";
$icon-info_outline: "\E004";
$icon-basis-cocoa: "\E005";
$icon-basis-coffee: "\E006";
$icon-basis-herbal: "\E007";
$icon-basis-tea: "\E008";
$icon-clear: "\E009";
$icon-filters: "\E00A";
$icon-iceable: "\E00B";
$icon-order-one: "\E00C";
$icon-orders: "\E00D";
$icon-packaged: "\E00E";
$icon-preparation-temperature: "\E00F";
$icon-preparation-time: "\E010";
$icon-random: "\E011";
$icon-time-aftermeal: "\E012";
$icon-time-afternoon: "\E013";
$icon-time-evening: "\E014";
$icon-time-morning: "\E015";
$icon-unknown: "\E016";
$icon-zoom-in: "\E017";
$icon-zoom-out: "\E018";