$icomoon-font-path: "../fonts" !default;

$icon-leaf: "\f06c";
$icon-square: "\f0c8";
$icon-cup: "\f0f4";
$icon-question: "\f128";
$icon-pagelines: "\f18c";
$icon-circle-o-notch: "\f1ce";
$icon-commenting: "\f27a";
$icon-cart: "\f290";
$icon-alarm: "\e855";
$icon-moon: "\e3a7";
$icon-sun: "\e1ad";
$icon-error: "\e000";
$icon-hourglass: "\e88c";
$icon-info_outline: "\e88f";
$icon-pick: "\e800";
$icon-fire: "\e80e";
$icon-zoom_in: "\e8ff";
$icon-zoom_out: "\e900";

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$icomoon-font-path}/icomoon.ttf?h2nyam') format('truetype'),
  url('#{$icomoon-font-path}/icomoon.woff?h2nyam') format('woff'),
  url('#{$icomoon-font-path}/icomoon.svg?h2nyam#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
