@import "font-variables";

$bev-variants: (
        tea-white: (
                icon: $icon-leaf,
                color: #ddd
        ), tea-green: (
                icon: $icon-leaf,
                color: #7f7
        ), tea-oolong: (
                icon: $icon-leaf,
                color: #7bd
        ), tea-black: (
                icon: $icon-leaf,
                color: #111
        ), tea-rooibos: (
                icon: $icon-leaf,
                color: #f55
        ), infusion: (
                icon: $icon-pagelines,
                color: #bfb
        ), coffee: (
                icon: $icon-cup,
                color: #000
        ), cocoa: (
                icon: $icon-cup,
                color: #ff6e0c
        )
);

$moment-icons: (
        morning: $icon-alarm,
        daytime: $icon-sun,
        evening: $icon-moon,
        unknown: $icon-question
);

$bubble-variants: (
        info: map-get(map-get($bev-variants, tea-oolong), color),
        error: map-get(map-get($bev-variants, tea-rooibos), color)
);

$white: #fff;
$border-color: #ccc;
$bev-icon-back-color: #666;
