@import "functions";

// FIXME should be removed
$bev-icon-back-color: #666;

//
// General styles
//
$base-white: #ffffff;
$base-black: #000000;
$base-red: #ff5555;
$base-green: #33bb77;
$base-blue: #77bbdd;

$border-color: shade($base-white, 20%);

$base-padding: 7px;
$main-padding: 0;
$header-padding: $base-padding $base-padding 0;

// Button styling
$button-border-color: $border-color;
$button-bg-color: shade($base-white, 5%);
$button-bg-active-color: $button-border-color;
$button-padding-x: 8px;
$button-padding-y: 2px;
$button-margin-x: 5px;
$button-font-size: 16px;
$button-line-height: 1.6;

// Input styling
$input-margin-x: $button-margin-x;

// Tooltip styling
$tooltip-color: shade($base-white, 80%);
$tooltip-opacity: .85;
$tooltip-font-size: 14px;
$tooltip-line-height: 1.2;
$tooltip-width: 160px;

// Bubbles styling
$bubble-margin: 5px;
$bubble-padding: 15px;
$bubble-font-size: 1.5rem;
$bubble-variants: (
        info: $base-blue,
        error: $base-red
);

// Orders summary styling
$orders-border-color: $border-color;
$orders-bg-color: $base-white;
$orders-backdrop-color: transparentize($base-black, .6);
$order-padding: 5px 15px;
$orders-width: 50%;
$orders-width-mobile: 100%;
$orders-z-index: 50;

//
// Beverages elements
//
@import "font-variables";
$bev-variants: (
        tea-white: (
                icon: $icon-leaf,
                color: #ddd
        ), tea-green: (
                icon: $icon-leaf,
                color: $base-green
        ), tea-oolong: (
                icon: $icon-leaf,
                color: #7bd
        ), tea-black: (
                icon: $icon-leaf,
                color: #111
        ), tea-rooibos: (
                icon: $icon-leaf,
                color: $base-red
        ), infusion: (
                icon: $icon-pagelines,
                color: tint($base-green, 30%)
        ), coffee: (
                icon: $icon-cup,
                color: #000
        ), cocoa: (
                icon: $icon-cup,
                color: #ff6e0c
        )
);

$time-icons: (
        morning: $icon-alarm,
        daytime: $icon-sun,
        evening: $icon-moon,
        unknown: $icon-question
);
