@import "functions";
@import "variables";
@import "mixins";
@import "bootstrap";

.beverages-container {

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  position: relative;
  overflow: hidden;

  padding: $main-padding;

  @import "styles/bubbles";
  @import "styles/buttons";
  @import "styles/icons";

  @import "styles/tooltips";

  @import "styles/animations";

  @import "styles/utils";

  //* The real styling for the app */
  @extend .container-fluid;

  @import "parts/header";
  @import "parts/beverages";
  @import "parts/orders";

  //* Utility classes */

  // FIXME everything below this line should disappear in the end
  input[type="text"] {
    display: inline-block;
    border: $input-btn-border-width solid $input-border-color;
    padding: $input-padding-y-sm $input-padding-x-sm;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    margin: {
      left: $input-margin-x;
      right: $input-margin-x;
    };
  }
}
