@import "bootstrap";
@import "icons";

.beverages-container {
  @extend body;
  @extend .container-fluid;

  .beverage {
    .bev-icon {
      float: left;
      margin-top: -2px;
      margin-right: 5px;
    }

    .headers {
      @extend .col-xs-12;
      @extend .col-md-5;

      .name {
        @extend h4;
      }

      .brand {
        @extend h5;
        @extend .text-muted;
        display: none;
      }
    }

    .actions {
      text-align: right;
    }

    .more {
      @extend .col-xs-7;
      @extend .col-md-4;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .strength {
      @extend .col-xs-5;
      @extend .col-md-3;

      @extend .row;

      .moment, .theine-level {
        @extend .col-lg-6;
      }

      .moment {
        @extend .col-xs-12;
        text-align: right;

        ul {
          @extend .list-inline;
          margin-bottom: 0;

          > li {
            @extend .list-inline-item;
          }
        }
      }

      .theine-level {
        @extend .hidden-sm-down;

        progress {
          @extend .progress;

          &.unknown {
            @extend .progress-striped;
            @include progress-variant($text-muted);
            opacity: 0.25;
          }
          &.none, &.low {
            @include progress-variant($progress-bar-success-bg);
          }
          &.medium, &.high {
            @include progress-variant($progress-bar-warning-bg);
          }
          &.coffee {
            @include progress-variant($progress-bar-danger-bg);
          }
        }
      }
    }

    .preparation {
      text-align: center;

      @extend .col-xs-12;
      @extend .col-lg-2;

      @extend .row;
      .prep-info {
        @extend .col-xs-6;
        @extend .col-lg-12;
      }
    }

    &:not(.detailed) {
      .strength {
        .theine-level {
          @extend .hidden-md-down;
        }
      }

      .preparation {
        display: none;
      }

      p.note {
        display: none;
      }
    }

    &.detailed {
      .headers {
        .bev-icon {
          @extend .fa-2x;
        }

        .brand {
          display: initial;
        }
      }

      .more {
        @extend .col-md-3;
        white-space: inherit;
        overflow: inherit;

        .note-tip {
          display: none;
        }
      }

      .strength {
        @extend .col-lg-2;

        .moment, .theine-level {
          text-align: center;

          @extend .col-xs-6;
          @extend .col-sm-12;
        }
      }
    }
  }

  .filters {
    .bev-icon, .moment-icon {
      cursor: pointer;
    }

    .inactive {
      opacity: 0.5;
    }
  }

  //* Sliding animation */
  .slide {
    transition: 0.8s;

    &.up {
      overflow: hidden;
      max-height: 0;
      margin: {
        top: 0;
        bottom: 0;
      }
      padding: {
        top: 0;
        bottom: 0;
      }
      border: {
        top-width: 0;
        bottom-width: 0;
      }
    }
  }

  //* Utility classes */
  .btn-plain {
    @extend .btn-link;
    color: inherit;
    padding: 0;
  }

  .pull-right {
    float: right;
  }
}
