@import "bootstrap";
@import "icons";

.beverages-container {
  @extend body;
  @extend .container-fluid;

  .beverage {
    @extend .row;

    .bev-icon {
      cursor: pointer;

      float: left;
      margin-top: -2px;
      margin-right: 5px;
    }

    .headers {
      @extend .col-xs-6;
      @extend .col-sm-8;
      @extend .col-md-5;

      .name {
        @extend h4;
      }

      .brand {
        @extend h5;
        @extend .text-muted;
        display: none;
      }
    }

    .more {
      @extend .col-xs-12;
      @extend .col-sm-4;
      @extend .col-md-4;

      @extend .row;
      .benefits {
        @extend .col-xs-10;
      }
      .note {
        @extend .col-xs-2;
      }
    }

    .strength {
      text-align: center;

      @extend .col-xs-6;
      @extend .col-sm-4;
      @extend .col-md-3;

      @extend .row;
      .moment, .theine-level {
        @extend .col-xs-6;
      }

      .moment {
        ul {
          @extend .list-inline;
          margin-bottom: 0;

          > li {
            @extend .list-inline-item;
          }
        }
      }

      .theine-level {
        progress {
          @extend .progress;

          &.unknown {
            @extend .progress-striped;
            @include progress-variant($text-muted);
            opacity: 0.25;
          }
          &.none, &.low {
            @include progress-variant($progress-bar-success-bg);
          }
          &.medium, &.high {
            @include progress-variant($progress-bar-warning-bg);
          }
          &.coffee {
            @include progress-variant($progress-bar-danger-bg);
          }
        }
      }
    }

    .preparation {
      display: none;
      text-align: center;
    }

    //&:not(.detailed) {
    //}

    &.detailed {
      .headers {
        .bev-icon {
          @extend .fa-2x;
        }

        .brand {
          display: initial;
        }
      }

      .more {
        @extend .col-md-3;

        .benefits, .note {
          @extend .col-xs-12;
        }
      }

      .strength {
        @extend .col-md-2;

        .moment, .theine-level {
          @extend .col-xs-12;
        }
      }

      .preparation {
        display: initial;
        @extend .col-xs-6;
        @extend .col-md-2;
      }
    }
  }

  .filters {
    .bev-icon, .moment-icon {
      cursor: pointer;
    }

    .inactive {
      opacity: 0.5;
    }
  }

  //* Sliding animation */
  .slide {
    transition: 0.8s;

    &.up {
      overflow: hidden;
      max-height: 0;
      margin: {
        top: 0;
        bottom: 0;
      }
      padding: {
        top: 0;
        bottom: 0;
      }
      border: {
        top-width: 0;
        bottom-width: 0;
      }
    }
  }

  //* Utility classes */
  .btn-plain {
    @extend .btn-link;
    color: inherit;
    padding: 0;
  }
}
